#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            // -------------------------------------
            // ||     A     |    Z    ||          ||     1     |    2    ||
            // ||    E      |    R    ||          ||     3     |    4    ||


            bindings = <
                &kp A     &kp Z       &kp N1   &kp N2 
                &lt 1 E   &kp R       &kp N3   &kp N4
            >;
        };

        default_layer { // Layer 1
            display-name = "Top";
            // -------------------------------------
            // ||     Q     |    S    ||          ||     5     |    6    ||
            // ||    D      |    F    ||          ||     7     |    8    ||


            bindings = <
                &kp Q   &kp S       &kp N5   &kp N6 
                &kp D   &kp F       &kp N7   &kp N8
            >;
        };
    };
 };