#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            
            // ||Tab| ( | - | \ |lay||       || ) | = | " | mod | del ||
            // || A | Z | E | R | T ||       || Y | U | I | O | P ||
            // || Q | S | D | F | G ||       || H | J | K | L | M ||
            // || ↑ | W | X | C | V ||       || B | N | , | . | ^ ||
            //         || ctr | spc ||       || ent | alt ||


            bindings = <
                &kp A   &kp Z       &kp N1   &kp N2 
                &kp E   &kp R       &kp N3   &kp N4
            >;
        };
    };
 };
