#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            bindings = <
                &kp A    &kp Z
                &kp E    &lt 1 R
            >;
        };

        top_layer { // Layer 1
            display-name = "Top";
            bindings = <
                &kp Q  &kp S
                &kp D    &kp F
            >;
        };
    };
 };
