#include <dt-bindings/zmk/matrix_transform.h>



/ {
    
    chosen {
        zmk,physical-layout = &physical_layout0;
    };

    physical_layout0: physical_layout_0 {
            compatible = "zmk,physical-layout";
            display-name = "Default Layout";
            kscan = <&kscan0>;
            transform = <&default_transform>;
    };


    default_transform: keymap_transform0 {
        compatible = "zmk,matrix_transform";
        column = <1>;
        row = <1>;
        map = <
            RC(0,0)
            >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&pro_micro 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };

};

